body {
  background-color: #fdf6e3;
}
header and footer {
  font-size: 1.55rem
}
nav ul{
  font-family: sans-sans-serif;
}
h1 {
  text-transform: uppercase;
}
main{
  background-color: #eee8d5;
}
h2 {
  color: #93a1a1;
}
